# ds store
**/.DS_Store

# venv related
bin/
lib/
include/
pyvenv.cfg

# jupyter related
share/
etc/

# exclude dataset
MethaneCNN/data/train/*
MethaneCNN/data/test/*
MethaneCNN/frame_data/train/*
MethaneCNN/frame_data/test/*
MethaneCNN/Extracted_Videos_BS/


