# ds store
**/.DS_Store

# venv related
bin/
lib/
include/
pyvenv.cfg

Scripts/
Lib/
Include/

# jupyter related
share/
etc/

# exclude models
*.pth
*.h5
*.ckpt
*.model

# exclude dataset
0 - GasNet/

MethaneCNN/data/train/*
MethaneCNN/data/test/*
MethaneCNN/frame_data/train/*
MethaneCNN/frame_data/test/*
MethaneCNN/Extracted_Videos_BS/
MethaneCNN/frame_data_*/
Extracted_Videos/*
Data_images/*
data 3/*
MethaneCNN/frame_data_movingAvg_Adam/*
frame_data_movingAvgBESTLAB/*
Squishy-Methane-Analysis[BESTLABCOMPUTER/*
MethaneCNN/train/*
MethaneCNN/NewTrain(Ignore)/*
MethaneCNN/train(ignore)/*

MethaneModel/data/*
MethaneModel/frame_data_*/
