# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
*.zip

# Project-specific large file directories
Multi-Class_Synthetic_Dataset/Backgrounds/
Multi-Class_Synthetic_Dataset/One_Time_Use_Code/
Multi-Class_Synthetic_Dataset/GasVid_Dataset/Videos/